@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* Changed dark:bg-gray-900 to dark:bg-gray-950 for contrast */
        @apply bg-gray-50 text-gray-900 dark:bg-gray-950 dark:text-gray-100 min-h-screen antialiased;
    }
}
